<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/main.css')}}">
    <title>LogOut</title>
</head>
<body>
    <ul>
        <li><a href="{{url_for('app_blueprint.home')}}">Home</a></li>
        <li><a href="{{url_for('app_blueprint.login')}}">Login</a></li>
        <li><a href="{{url_for('app_blueprint.about')}}">About</a></li>
    </ul>
    <h1>LogOut</h1>
    <h2>You have successfully logged out</h2>

</body>
</html>