<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/main.css')}}">
    <link rel="icon" href="{{url_for('static',filename='/styles/icon.ico')}}">
    <title>Login Page</title>
</head>
<body>
    <h1 id="page_title">e-CHUNAAV</h1>
    <ul>
        <li><a href="{{url_for('app_blueprint.logout')}}">logout</a></li>
    </ul>
    <h1>OTP verification</h1>
    <p>You have successfully logged in , please check your gmail for otp!</p>
    <form action="{{url_for('app_blueprint.otpverify')}}" method="post">
        <div>{{ msg }}</div>
        <br>
        <input type="number" id="otp" name="otp" placeholder="OTP(Check Gmail)" required>
        <br>
        <br><input type="submit" value="Submit">
    </form>

</body>
</html>