<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/main.css')}}">
    <link rel="icon" href="{{url_for('static',filename='/styles/icon.ico')}}">
    <title>Sign Up</title>
</head>
<body>
    <h1 id="page_title">e-CHUNAAV</h1>
    <ul>
        <li><a href="{{url_for('app_blueprint.login')}}">Login</a></li>
        <li><a href="{{url_for('app_blueprint.about')}}">About</a></li>
    </ul>
    <form action="{{url_for('app_blueprint.signup')}}" method="post">
        <div>{{ msg }}</div>
        <br>
        <input type="text" id="fname" name="fname" placeholder="Full name" required><br><br>
        <input type="number" id="age" name="age" placeholder="Age" required><br><br>
        <input type="number" id="aadharno" name="aadharno" placeholder="Aadhar No." required><br><br>
        <input type="text" id="voteridno" name="voteridno"  placeholder="Voter ID No." required><br><br>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>
        <input type="password" id="password1" name="password1" placeholder="Confirm Password" required>
        <br><br><input type="submit" value="Submit">
    </form>
</body>
</html>