/* fonts */


/* navbar config */
.navbar-brand{
padding-left: 150px;
}

 .navbar_links{
padding-left: 650px;
}


/*bg colour*/

#body{
    background-color: #dfe3ee;
    }


#signupform{
    height: 570px;
    width: 800px;
    margin-left: 200px;
    background-color: #8b9dc3;
    display:flex;
    justify-content: center;
    border-radius: 2px 2px 25px 25px;
}

#BJP,#CONGRESS,#AAP
{
  height: 25px;
  width: 40px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 0;
  padding: 10;
}

