/* fonts */

h1,h2,h3,h4,h5,p,li,msg,text{
    font-family: Helvetica, sans-serif;
    color: black;
}
/*bg colour*/

body{
    background-color: lightgrey;
    border-color:black;
    }

/* heading bar */
#page_title{
    font-family: Garamond,sans-serif;
    color: black;
    text-align: center;
    font-size: 10;
    background-color: lightgrey ;
    padding: 0;
    margin: 0;
}
/* nav*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey ;
}

li {
  float: left;
}

#about{
    float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
}

/* form elements*/
form{
    text-align = center;
    width: 55%;
    margin-left : 35%
}

label{
    font-family: Helvetica, sans-serif;
    color: black;
    font size: 20px;
    font style: bold;
    padding: 5px;
    display: inline-block;
}
input{
  height: 50px;
  width: 400px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 10;
  padding: 10;
}
#BJP,#CONGRESS,#AAP
{
  height: 25px;
  width: 40px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 0;
  padding: 10;
}
