/* fonts */


/* navbar config */
.navbar-brand{
padding-left: 150px;
}

 .navbar_links{
padding-left: 650px;
}


/*bg colour*/

#body{
    background-color: #dfe3ee;
    }


#signupform{
    height: 580px;
    width: 800px;
    margin: 10px 0px 0px 200px;
    background-color: #8b9dc3;
    display:flex;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
}
#loginform{
    height: 410px;
    width: 500px;
    margin: 50px 0px 0px 350px;
    padding: 20px 20px 20px 20px;
    background-color: #8b9dc3;
    display:flex;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
}
#dashboardform{
    height: 410px;
    width: 500px;
    margin: 50px 0px 0px 350px;
    padding: 20px 20px 20px 20px;
    background-color: #8b9dc3;
    display:flex;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
}

#login{
    height: 320px;
    width: 300px;
}

#BJP,#CONGRESS,#AAP
{
  height: 25px;
  width: 40px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 0;
  padding: 10;
}

